In [56]:
import yfinance as yf
import numpy as np
from collections import deque
import pandas as pd
from datetime import datetime

In [57]:
ticker = "MSFT"  # 005930.KS
df = yf.download(ticker, start="2015-01-01")

df = df.reset_index()
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')

date_array = df['Date'].values
open_array = df['Open'].values
high_array = df['High'].values
low_array = df['Low'].values
close_array = df['Close'].values

df

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,46.660000,47.419998,46.540001,46.759998,40.452732,27913900
1,2015-01-05,46.369999,46.730000,46.250000,46.330002,40.080734,39673900
2,2015-01-06,46.380001,46.750000,45.540001,45.650002,39.492470,36447900
3,2015-01-07,45.980000,46.459999,45.490002,46.230000,39.994232,29114100
4,2015-01-08,46.750000,47.750000,46.720001,47.590000,41.170780,29645200
...,...,...,...,...,...,...,...
2287,2024-02-05,409.899994,411.160004,403.989990,405.649994,405.649994,25352300
2288,2024-02-06,405.880005,407.970001,402.910004,405.489990,405.489990,18382600
2289,2024-02-07,407.440002,414.299988,407.399994,414.049988,414.049988,22340500
2290,2024-02-08,414.049988,415.559998,412.529999,414.109985,414.109985,21225300
2291,2024-02-09,415.250000,420.820007,415.089996,420.549988,420.549988,22012900

In [58]:
class Zigzag:
    def __init__(self, pivot_range, fluctuation_rate):
        self.pivot_range = pivot_range

        self.fluctuation_rate = fluctuation_rate

        self.buffer_size = pivot_range * 2 + 1

        self.opens = deque(maxlen = self.buffer_size)
        self.highs = deque(maxlen = self.buffer_size)
        self.lows = deque(maxlen = self.buffer_size)
        self.closes = deque(maxlen = self.buffer_size)
        self.dates = deque(maxlen = self.buffer_size)

        self.last_pivot = [None, None, None, None, None] # (date, is high pivot?, pivot price, is this pivot confirmed to zigzag pivot?, is pivot on bullish candle?)


    def update_zigzag_pivot(self, open, high, low, close, date):
        self.zigzag_pivot = []

        self.opens.append(open)
        self.highs.append(high)
        self.lows.append(low)
        self.closes.append(close)
        self.dates.append(date)

        if len(self.opens) == self.buffer_size:
            pivot_list = []
            pivot_high = self.is_pivot(self.highs, self.pivot_range, True)
            pivot_low = self.is_pivot(self.lows, self.pivot_range, False)

            bullish = self.opens[self.pivot_range] < self.closes[self.pivot_range]

            if pivot_high is not None:
                pivot_list.append([self.dates[self.pivot_range], True, pivot_high, False, bullish])
            if pivot_low is not None:
                pivot_list.append([self.dates[self.pivot_range], False, pivot_low, False, bullish])

            if len(pivot_list) == 2 and bullish:
                pivot_list = [pivot_list[1], pivot_list[0]]

            self.update_last_pivot(pivot_list, high, low, date)

            if self.last_pivot != [None, None, None, None, None]:
                self.last_pivot_to_zigzag(True)

        return self.zigzag_pivot


    def is_pivot(self, array, candle, is_high):
        if is_high and candle == np.argmax(array):
            return array[candle]

        elif is_high == False and candle == np.argmin(array):
            return array[candle]

        return None

    def is_valid_reversals(self, pivot_price, last_pivot_price, last_pivot_type):
        change_percentage = (pivot_price - last_pivot_price) / last_pivot_price * 100
        is_valid_reversals = (not last_pivot_type and change_percentage >= self.fluctuation_rate) or (last_pivot_type and change_percentage <= -self.fluctuation_rate)
        return is_valid_reversals


    def update_last_pivot(self, pivot_list, high, low, date):
        for pivot in pivot_list:
            if self.last_pivot == [None, None, None, None, None]:
                self.last_pivot = pivot
                self.last_pivot_to_zigzag(False)

            else:
                if self.last_pivot[1] == pivot[1]:
                    if (self.last_pivot[1] and self.last_pivot[2] < pivot[2]) or (not self.last_pivot[1] and self.last_pivot[2] > pivot[2]):
                        self.last_pivot = pivot
                        self.last_pivot_to_zigzag(False)

                else:
                    reversals = self.is_valid_reversals(pivot[2], self.last_pivot[2], self.last_pivot[1])
                    if reversals:
                        self.last_pivot = pivot
                        self.last_pivot_to_zigzag(False)


    def last_pivot_to_zigzag(self, one_candle):
        if self.last_pivot[3] == True:
            return

        if one_candle:
            start_idx = self.buffer_size - self.pivot_range - 1
            end_idx = self.buffer_size
            self.is_zigzag_pivot(start_idx, end_idx)

        else:
            start = 0 if (self.last_pivot[4] and self.last_pivot[1] == False) or (self.last_pivot[4] == False and self.last_pivot[1]) else 1
            for i in range(start,self.pivot_range):
                if self.last_pivot[3] == False:
                    start_idx = i
                    end_idx = i + self.pivot_range + 1
                    self.is_zigzag_pivot(start_idx, end_idx)


    def is_zigzag_pivot(self, start_idx, end_idx):
        if self.last_pivot[1]:
            lows_list = list(self.lows)
            pivot = self.is_pivot(lows_list[start_idx:end_idx], self.pivot_range, False)

        else:
            highs_list = list(self.highs)
            pivot = self.is_pivot(highs_list[start_idx:end_idx], self.pivot_range, True)

        if pivot is not None:
            reversals = self.is_valid_reversals(pivot, self.last_pivot[2], self.last_pivot[1])
            if reversals:
                self.zigzag_pivot.append([self.last_pivot[0], self.last_pivot[2], self.dates[-1]]) # zigzag pivot date, zigzag pivot price, zigzag pivot confirmed date
                self.last_pivot[3] = True

In [59]:
zigzag_array = []
range5_fluctuation5 = Zigzag(3, 3)
for i in range(len(date_array)):
    date = date_array[i]
    open = open_array[i]
    high = high_array[i]
    low = low_array[i]
    close = close_array[i]

    zigzag_pivot = range5_fluctuation5.update_zigzag_pivot(open, high, low, close, date)
    if zigzag_pivot:
        zigzag_array.extend(zigzag_pivot)


zigzag_array

[['2015-01-07', 45.4900016784668, '2015-01-12'],
 ['2015-01-13', 47.90999984741211, '2015-01-16'],
 ['2015-01-16', 45.16999816894531, '2015-01-22'],
 ['2015-01-23', 47.38999938964844, '2015-01-28'],
 ['2015-02-02', 40.22999954223633, '2015-02-05'],
 ['2015-02-24', 44.29999923706055, '2015-03-04'],
 ['2015-03-13', 40.61000061035156, '2015-03-18'],
 ['2015-03-24', 43.16999816894531, '2015-03-27'],
 ['2015-04-02', 40.119998931884766, '2015-04-08'],
 ['2015-04-30', 49.540000915527344, '2015-05-05'],
 ['2015-05-06', 46.02000045776367, '2015-05-13'],
 ['2015-05-15', 48.90999984741211, '2015-05-20'],
 ['2015-05-26', 46.189998626708984, '2015-05-29'],
 ['2015-05-28', 48.02000045776367, '2015-06-04'],
 ['2015-06-09', 45.459999084472656, '2015-06-12'],
 ['2015-06-11', 46.91999816894531, '2015-06-16'],
 ['2015-06-15', 45.02000045776367, '2015-06-18'],
 ['2015-06-19', 46.83000183105469, '2015-06-26'],
 ['2015-07-07', 43.31999969482422, '2015-07-10'],
 ['2015-07-21', 47.33000183105469, '2015-07-24'],
 ['2015-07-28', 44.790000915527344, '2015-07-31'],
 ['2015-08-05', 48.40999984741211, '2015-08-10'],
 ['2015-08-12', 45.709999084472656, '2015-08-17'],
 ['2015-08-17', 47.45000076293945, '2015-08-20'],
 ['2015-08-24', 39.720001220703125, '2015-08-27'],
 ['2015-08-28', 44.150001525878906, '2015-09-02'],
 ['2015-09-01', 41.65999984741211, '2015-09-04'],
 ['2015-09-17', 45.0, '2015-09-22'],
 ['2015-09-29', 43.04999923706055, '2015-10-02'],
 ['2015-10-27', 54.369998931884766, '2015-10-30'],
 ['2015-10-30', 52.619998931884766, '2015-11-04'],
 ['2015-11-06', 54.97999954223633, '2015-11-11'],
 ['2015-11-13', 52.529998779296875, '2015-11-19'],
 ['2015-12-04', 56.22999954223633, '2015-12-11'],
 ['2015-12-14', 53.68000030517578, '2015-12-17'],
 ['2015-12-17', 56.790000915527344, '2015-12-22'],
 ['2015-12-18', 54.029998779296875, '2015-12-24'],
 ['2015-12-29', 56.849998474121094, '2016-01-04'],
 ['2016-01-20', 49.099998474121094, '2016-01-25'],
 ['2016-01-25', 52.650001525878906, '2016-01-28'],
 ['2016-01-27', 51.02000045776367, '2016-02-01'],
 ['2016-01-29', 55.09000015258789, '2016-02-03'],
 ['2016-02-08', 48.189998626708984, '2016-02-12'],
 ['2016-02-22', 53.0, '2016-02-25'],
 ['2016-02-24', 50.20000076293945, '2016-02-29'],
 ['2016-03-03', 52.970001220703125, '2016-03-08'],
 ['2016-03-07', 50.58000183105469, '2016-03-10'],
 ['2016-03-17', 55.0, '2016-03-22'],
 ['2016-03-21', 52.93000030517578, '2016-03-29'],
 ['2016-04-04', 55.65999984741211, '2016-04-12'],
 ['2016-04-12', 53.7599983215332, '2016-04-15'],
 ['2016-04-19', 56.77000045776367, '2016-04-22'],
 ['2016-04-29', 49.349998474121094, '2016-05-10'],
 ['2016-05-16', 51.959999084472656, '2016-05-19'],
 ['2016-05-19', 49.81999969482422, '2016-05-24'],
 ['2016-05-31', 53.0, '2016-06-10'],
 ['2016-06-13', 49.060001373291016, '2016-06-20'],
 ['2016-06-23', 52.060001373291016, '2016-06-28'],
 ['2016-06-27', 48.040000915527344, '2016-06-30'],
 ['2016-08-26', 58.70000076293945, '2016-09-09'],
 ['2016-09-12', 55.61000061035156, '2016-09-15'],
 ['2016-09-29', 58.16999816894531, '2016-10-12'],
 ['2016-10-10', 58.38999938964844, '2016-10-13'],
 ['2016-10-13', 56.31999969482422, '2016-10-21'],
 ['2016-10-25', 61.369998931884766, '2016-11-01'],
 ['2016-11-04', 58.52000045776367, '2016-11-09'],
 ['2016-11-08', 60.779998779296875, '2016-11-11'],
 ['2016-11-14', 57.279998779296875, '2016-11-17'],
 ['2016-11-22', 61.2599983215332, '2016-12-01'],
 ['2016-11-29', 61.40999984741211, '2016-12-02'],
 ['2016-12-02', 58.79999923706055, '2016-12-07'],
 ['2016-12-22', 64.0999984741211, '2016-12-30'],
 ['2017-01-12', 61.95000076293945, '2017-01-25'],
 ['2017-01-27', 65.91000366210938, '2017-02-01'],
 ['2017-02-02', 62.75, '2017-02-13'],
 ['2017-05-02', 69.70999908447266, '2017-05-15'],
 ['2017-05-18', 67.13999938964844, '2017-05-25'],
 ['2017-06-05', 72.88999938964844, '2017-06-09'],
 ['2017-06-12', 68.12999725341797, '2017-06-23'],
 ['2017-06-26', 71.70999908447266, '2017-06-29'],
 ['2017-07-03', 68.0199966430664, '2017-07-10'],
 ['2017-07-27', 74.41999816894531, '2017-08-02'],
 ['2017-08-02', 71.44000244140625, '2017-08-14'],
 ['2017-08-11', 71.27999877929688, '2017-08-16'],
 ['2017-08-16', 74.0999984741211, '2017-08-21'],
 ['2017-08-21', 71.69999694824219, '2017-08-30'],
 ['2017-09-18', 75.97000122070312, '2017-09-25'],
 ['2017-09-25', 72.91999816894531, '2017-10-05'],
 ['2017-10-27', 86.19999694824219, '2017-11-01'],
 ['2017-11-17', 82.23999786376953, '2017-11-28'],
 ['2017-11-28', 85.05999755859375, '2017-12-04'],
 ['2017-12-04', 80.69999694824219, '2017-12-08'],
 ['2017-12-18', 87.5, '2017-12-21'],
 ['2017-12-20', 84.70999908447266, '2018-01-04'],
 ['2018-01-16', 90.79000091552734, '2018-02-05'],
 ['2018-02-01', 96.06999969482422, '2018-02-06'],
 ['2018-02-09', 83.83000183105469, '2018-02-14'],
 ['2018-02-27', 95.83999633789062, '2018-03-02'],
 ['2018-03-02', 90.86000061035156, '2018-03-08'],
 ['2018-03-13', 97.23999786376953, '2018-03-16'],
 ['2018-03-23', 87.08000183105469, '2018-03-28'],
 ['2018-03-27', 95.13999938964844, '2018-04-02'],
 ['2018-04-02', 87.51000213623047, '2018-04-05'],
 ['2018-04-19', 97.06999969482422, '2018-04-24'],
 ['2018-04-25', 90.27999877929688, '2018-04-30'],
 ['2018-04-27', 97.9000015258789, '2018-05-02'],
 ['2018-05-03', 92.44999694824219, '2018-05-08'],
 ['2018-06-07', 102.69000244140625, '2018-06-18'],
 ['2018-06-18', 99.41999816894531, '2018-06-21'],
 ['2018-06-20', 102.5199966430664, '2018-06-25'],
 ['2018-06-28', 97.26000213623047, '2018-07-03'],
 ['2018-07-25', 111.1500015258789, '2018-07-30'],
 ['2018-07-30', 104.76000213623047, '2018-08-02'],
 ['2018-08-09', 110.16000366210938, '2018-08-15'],
 ['2018-08-22', 105.77999877929688, '2018-08-27'],
 ['2018-08-31', 112.77999877929688, '2018-09-06'],
 ['2018-09-07', 107.2300033569336, '2018-09-12'],
 ['2018-09-21', 115.29000091552734, '2018-10-04'],
 ['2018-10-03', 116.18000030517578, '2018-10-08'],
 ['2018-10-11', 104.19999694824219, '2018-10-16'],
 ['2018-10-17', 111.80999755859375, '2018-10-23'],
 ['2018-10-30', 100.11000061035156, '2018-11-06'],
 ['2018-11-07', 112.23999786376953, '2018-11-12'],
 ['2018-11-20', 99.3499984741211, '2018-11-26'],
 ['2018-12-03', 113.41999816894531, '2018-12-07'],
 ['2018-12-10', 103.88999938964844, '2018-12-13'],
 ['2018-12-12', 111.2699966430664, '2018-12-17'],
 ['2018-12-26', 93.95999908447266, '2018-12-31'],
 ['2018-12-28', 102.41000366210938, '2019-01-03'],
 ['2019-01-03', 97.19999694824219, '2019-01-08'],
 ['2019-01-09', 104.87999725341797, '2019-01-14'],
 ['2019-01-14', 101.26000213623047, '2019-01-17'],
 ['2019-01-18', 107.9000015258789, '2019-01-28'],
 ['2019-01-29', 102.16999816894531, '2019-02-05'],
 ['2019-03-04', 113.25, '2019-03-08'],
 ['2019-03-08', 108.80000305175781, '2019-03-13'],
 ['2019-03-21', 120.81999969482422, '2019-03-26'],
 ['2019-03-27', 115.5199966430664, '2019-04-01'],
 ['2019-04-25', 131.3699951171875, '2019-05-02'],
 ['2019-05-13', 123.04000091552734, '2019-05-16'],
 ['2019-05-17', 130.4600067138672, '2019-05-23'],
 ['2019-06-03', 119.01000213623047, '2019-06-06'],
 ['2019-06-24', 138.39999389648438, '2019-06-27'],
 ['2019-06-25', 132.72999572753906, '2019-07-03'],
 ['2019-07-15', 139.5399932861328, '2019-07-18'],
 ['2019-07-18', 134.6699981689453, '2019-07-23'],
 ['2019-07-26', 141.67999267578125, '2019-07-31'],
 ['2019-08-05', 130.77999877929688, '2019-08-08'],
 ['2019-08-09', 139.3800048828125, '2019-08-14'],
 ['2019-08-15', 132.25, '2019-08-20'],
 ['2019-08-21', 139.49000549316406, '2019-08-26'],
 ['2019-08-23', 132.8000030517578, '2019-08-29'],
 ['2019-09-05', 140.3800048828125, '2019-09-10'],
 ['2019-09-10', 134.50999450683594, '2019-09-18'],
 ['2019-09-19', 142.3699951171875, '2019-09-24'],
 ['2019-10-03', 133.22000122070312, '2019-10-09'],
 ['2019-10-15', 141.7899932861328, '2019-10-18'],
 ['2019-10-23', 135.61000061035156, '2019-10-28'],
 ['2019-11-27', 152.5, '2019-12-03'],
 ['2019-12-03', 146.64999389648438, '2019-12-06'],
 ['2020-01-21', 168.19000244140625, '2020-01-27'],
 ['2020-01-27', 160.1999969482422, '2020-01-30'],
 ['2020-02-11', 190.6999969482422, '2020-02-14'],
 ['2020-02-12', 181.85000610351562, '2020-02-18'],
 ['2020-02-19', 188.17999267578125, '2020-02-24'],
 ['2020-02-28', 152.0, '2020-03-04'],
 ['2020-03-03', 175.0, '2020-03-06'],
 ['2020-03-16', 135.0, '2020-03-19'],
 ['2020-03-19', 150.14999389648438, '2020-03-24'],
 ['2020-03-23', 132.52000427246094, '2020-03-26'],
 ['2020-04-07', 170.0, '2020-04-13'],
 ['2020-04-13', 162.3000030517578, '2020-04-16'],
 ['2020-04-17', 180.0, '2020-04-22'],
 ['2020-04-21', 166.11000061035156, '2020-04-27'],
 ['2020-05-11', 187.50999450683594, '2020-05-14'],
 ['2020-05-14', 175.67999267578125, '2020-05-19'],
 ['2020-05-15', 187.05999755859375, '2020-05-26'],
 ['2020-05-27', 176.60000610351562, '2020-06-02'],
 ['2020-06-10', 198.52000427246094, '2020-06-15'],
 ['2020-06-15', 184.00999450683594, '2020-06-18'],
 ['2020-06-23', 203.9499969482422, '2020-06-26'],
 ['2020-06-29', 193.5500030517578, '2020-07-02'],
 ['2020-07-09', 216.3800048828125, '2020-07-14'],
 ['2020-07-17', 201.38999938964844, '2020-07-22'],
 ['2020-07-21', 213.94000244140625, '2020-07-24'],
 ['2020-07-24', 197.50999450683594, '2020-07-31'],
 ['2020-08-03', 217.63999938964844, '2020-08-10'],
 ['2020-08-11', 203.13999938964844, '2020-08-18'],
 ['2020-08-27', 231.14999389648438, '2020-09-03'],
 ['2020-09-02', 232.86000061035156, '2020-09-08'],
 ['2020-09-11', 201.24000549316406, '2020-09-16'],
 ['2020-09-16', 210.64999389648438, '2020-09-21'],
 ['2020-09-18', 196.25, '2020-09-23'],
 ['2020-10-01', 213.99000549316406, '2020-10-06'],
 ['2020-10-06', 204.82000732421875, '2020-10-09'],
 ['2020-10-13', 225.2100067138672, '2020-10-16'],
 ['2020-10-30', 199.6199951171875, '2020-11-04'],
 ['2020-11-09', 228.1199951171875, '2020-11-12'],
 ['2020-11-23', 208.16000366210938, '2020-11-27'],
 ['2020-12-01', 217.32000732421875, '2020-12-10'],
 ['2020-12-11', 209.11000061035156, '2020-12-16'],
 ['2020-12-29', 227.17999267578125, '2021-01-04'],
 ['2021-01-06', 211.94000244140625, '2021-01-11'],
 ['2021-01-08', 220.5800018310547, '2021-01-13'],
 ['2021-01-15', 212.02999877929688, '2021-01-21'],
 ['2021-02-16', 246.1300048828125, '2021-02-22'],
 ['2021-02-25', 227.8800048828125, '2021-03-02'],
 ['2021-03-01', 237.47000122070312, '2021-03-04'],
 ['2021-03-04', 224.25999450683594, '2021-03-09'],
 ['2021-03-16', 240.05999755859375, '2021-03-19'],
 ['2021-03-19', 229.35000610351562, '2021-03-24'],
 ['2021-03-23', 241.0500030517578, '2021-03-26'],
 ['2021-03-30', 231.10000610351562, '2021-04-05'],
 ['2021-04-27', 263.19000244140625, '2021-04-30'],
 ['2021-05-12', 238.07000732421875, '2021-05-17'],
 ['2021-05-14', 249.17999267578125, '2021-05-19'],
 ['2021-05-19', 238.60000610351562, '2021-05-24'],
 ['2021-05-26', 252.94000244140625, '2021-06-03'],
 ['2021-06-03', 243.0, '2021-06-08'],
 ['2021-07-16', 284.1000061035156, '2021-07-21'],
 ['2021-07-19', 274.45001220703125, '2021-07-22'],
 ['2021-08-20', 305.8399963378906, '2021-09-10'],
 ['2021-09-13', 294.0799865722656, '2021-09-16'],
 ['2021-09-15', 305.32000732421875, '2021-09-20'],
 ['2021-09-20', 289.5199890136719, '2021-09-23'],
 ['2021-09-23', 300.8999938964844, '2021-09-28'],
 ['2021-10-04', 280.25, '2021-10-07'],
 ['2021-11-22', 349.6700134277344, '2021-11-26'],
 ['2021-11-26', 328.1199951171875, '2021-12-01'],
 ['2021-12-01', 339.2799987792969, '2021-12-06'],
 ['2021-12-03', 318.0299987792969, '2021-12-08'],
 ['2021-12-13', 343.7900085449219, '2021-12-16'],
 ['2021-12-17', 317.25, '2021-12-22'],
 ['2021-12-29', 344.29998779296875, '2022-01-03'],
 ['2022-01-24', 276.04998779296875, '2022-01-27'],
 ['2022-02-02', 315.1199951171875, '2022-02-07'],
 ['2022-02-07', 299.8999938964844, '2022-02-10'],
 ['2022-02-09', 311.92999267578125, '2022-02-14'],
 ['2022-02-24', 271.5199890136719, '2022-03-01'],
 ['2022-03-03', 303.1300048828125, '2022-03-08'],
 ['2022-03-08', 270.0, '2022-03-16'],
 ['2022-03-30', 315.95001220703125, '2022-04-04'],
 ['2022-04-18', 278.3399963378906, '2022-04-21'],
 ['2022-04-21', 293.29998779296875, '2022-04-26'],
 ['2022-04-26', 270.0, '2022-04-29'],
 ['2022-04-28', 290.9800109863281, '2022-05-03'],
 ['2022-05-12', 250.02000427246094, '2022-05-17'],
 ['2022-05-17', 268.3299865722656, '2022-05-20'],
 ['2022-05-20', 246.44000244140625, '2022-05-25'],
 ['2022-06-01', 277.69000244140625, '2022-06-06'],
 ['2022-06-14', 241.50999450683594, '2022-06-22'],
 ['2022-06-27', 268.29998779296875, '2022-06-30'],
 ['2022-06-30', 252.89999389648438, '2022-07-06'],
 ['2022-07-07', 269.05999755859375, '2022-07-12'],
 ['2022-07-14', 245.94000244140625, '2022-07-19'],
 ['2022-08-15', 294.17999267578125, '2022-08-22'],
 ['2022-09-06', 251.94000244140625, '2022-09-09'],
 ['2022-09-12', 267.45001220703125, '2022-09-15'],
 ['2022-09-30', 232.72999572753906, '2022-10-05'],
 ['2022-10-05', 250.5800018310547, '2022-10-10'],
 ['2022-10-13', 219.1300048828125, '2022-10-18'],
 ['2022-10-18', 243.92999267578125, '2022-10-26'],
 ['2022-10-25', 251.0399932861328, '2022-10-28'],
 ['2022-11-04', 213.42999267578125, '2022-11-09'],
 ['2022-11-11', 247.99000549316406, '2022-11-17'],
 ['2022-11-17', 237.6300048828125, '2022-11-22'],
 ['2022-12-01', 256.1199951171875, '2022-12-06'],
 ['2022-12-07', 242.2100067138672, '2022-12-12'],
 ['2022-12-13', 263.9200134277344, '2022-12-16'],
 ['2022-12-22', 233.8699951171875, '2022-12-29'],
 ['2023-01-03', 245.75, '2023-01-06'],
 ['2023-01-06', 219.35000610351562, '2023-01-11'],
 ['2023-02-08', 276.760009765625, '2023-02-16'],
 ['2023-03-02', 245.61000061035156, '2023-03-07'],
 ['2023-03-06', 260.1199951171875, '2023-03-09'],
 ['2023-03-13', 245.72999572753906, '2023-03-16'],
 ['2023-03-17', 283.3299865722656, '2023-03-28'],
 ['2023-03-28', 272.04998779296875, '2023-03-31'],
 ['2023-04-06', 292.0799865722656, '2023-04-12'],
 ['2023-04-11', 281.6400146484375, '2023-04-17'],
 ['2023-04-18', 291.760009765625, '2023-04-24'],
 ['2023-04-25', 275.3699951171875, '2023-04-28'],
 ['2023-06-05', 338.55999755859375, '2023-06-08'],
 ['2023-06-07', 322.5, '2023-06-13'],
 ['2023-06-16', 351.4700012207031, '2023-06-22'],
 ['2023-06-26', 328.489990234375, '2023-06-30'],
 ['2023-07-06', 342.989990234375, '2023-07-11'],
 ['2023-07-11', 327.0, '2023-07-14'],
 ['2023-07-18', 366.7799987792969, '2023-07-21'],
 ['2023-08-18', 311.54998779296875, '2023-08-23'],
 ['2023-08-24', 332.9800109863281, '2023-08-29'],
 ['2023-08-25', 318.79998779296875, '2023-08-30'],
 ['2023-09-14', 340.8599853515625, '2023-09-19'],
 ['2023-09-28', 309.45001220703125, '2023-10-03'],
 ['2023-10-19', 336.8800048828125, '2023-10-24'],
 ['2023-10-23', 324.3900146484375, '2023-10-26'],
 ['2023-11-29', 384.29998779296875, '2023-12-04'],
 ['2023-12-04', 362.8999938964844, '2023-12-08'],
 ['2023-12-13', 377.6400146484375, '2023-12-18'],
 ['2023-12-14', 364.1300048828125, '2023-12-20'],
 ['2024-01-31', 415.32000732421875, '2024-02-05'],
 ['2024-01-31', 397.2099914550781, '2024-02-07']]

In [60]:
class HarmornicPattern(Zigzag):
    def __init__(self, pivot_range, fluctuation_rate, tolerance_percentage):
        super().__init__(pivot_range, fluctuation_rate)

        self.tolerance_percentage = tolerance_percentage

        self.ABCD_array = deque(maxlen = 4)
        self.XABCD_array = deque(maxlen = 5)


    def update_harmonic_pattern(self, open, high, low, close, date):
        self.harmornic_pattern = [] # pattern name, dates, prices, is bullish pattern?, confirmed date
        zigzag_pivot = self.update_zigzag_pivot(open, high, low, close, date)

        if zigzag_pivot:
            self.ABCD_array.extend(zigzag_pivot)
            self.XABCD_array.extend(zigzag_pivot)


        if len(self.ABCD_array) == 4 and self.ABCD_array[-1][-1] == date:
            A, B, C, D = self.ABCD_array
            bullish, pattern_name = self.is_ABCD_pattern(A[1], B[1], C[1], D[1])
            if pattern_name is not None:
                self.harmornic_pattern.append([pattern_name,
                                         [A[0], B[0], C[0], D[0]],
                                         [A[1], B[1], C[1], D[1]],
                                         bullish,
                                         D[2]])

        if len(self.XABCD_array) == 5 and self.XABCD_array[-1][-1] == date:
            X, A, B, C, D = self.XABCD_array
            bullish, pattern_name = self.is_XABCD_pattern(X[1], A[1], B[1], C[1], D[1], self.tolerance_percentage)

            if pattern_name is not None:
                self.harmornic_pattern.append([pattern_name,
                                         [X[0], A[0], B[0], C[0], D[0]],
                                         [X[1], A[1], B[1], C[1], D[1]],
                                         bullish,
                                         D[2]])

        return self.harmornic_pattern


    def is_ratio_valid(self, ratio, true_ratio):
        lower_bound = true_ratio * (1 - self.tolerance_percentage / 100)
        upper_bound = true_ratio * (1 + self.tolerance_percentage / 100)

        if lower_bound <= ratio <= upper_bound:
            return True
        else:
            return False


    def is_ABCD_pattern(self, A, B, C, D):

        if A - B != 0 and B - C !=0:
            ABC = abs((C - B)/(A - B))
            BCD = abs((D - C)/(B - C))

            if (self.is_ratio_valid(ABC, 0.618) or self.is_ratio_valid(ABC, 0.786)) and (self.is_ratio_valid(BCD,1.272) or self.is_ratio_valid(BCD,1.618)):
                if A < B:
                    return 0, 'ABCD'
                else:
                    return 1, 'ABCD'
        return None, None


    def is_XABCD_pattern(self, X, A, B, C, D, tolerance_percentage):

        XAB = abs((B - A)/(X - A))
        ABC = abs((C - B)/(A - B))
        BCD = abs((D - C)/(B - C))
        XAD = abs((D - A)/(X - A))
        if X - A != 0 and A - B !=0 and B - C != 0 and X - C != 0:
            if ((self.is_ratio_valid(XAB, 0.382) or self.is_ratio_valid(XAB, 0.5)) \
                    and (self.is_ratio_valid(ABC, 0.382) or self.is_ratio_valid(ABC, 0.886)) \
                    and (self.is_ratio_valid(BCD, 1.618) or self.is_ratio_valid(BCD, 2.618)) \
                    and (self.is_ratio_valid(XAD, 0.886))):
                return (1, 'Bat') if X < A else (0, 'Bat')

            if ((self.is_ratio_valid(XAB, 0.618)) \
                    and (self.is_ratio_valid(ABC, 0.382) or self.is_ratio_valid(ABC, 0.886)) \
                    and (self.is_ratio_valid(BCD, 1.272) or self.is_ratio_valid(BCD, 1.618)) \
                    and (self.is_ratio_valid(XAD, 0.786))):
                return (1, 'Gartley') if X < A else (0, 'Gartley')

            if ((self.is_ratio_valid(XAB, 0.382) or self.is_ratio_valid(XAB, 0.618)) \
                    and (self.is_ratio_valid(ABC, 0.382) or self.is_ratio_valid(ABC, 0.886)) \
                    and (self.is_ratio_valid(BCD, 2.242) or self.is_ratio_valid(BCD, 3.618)) \
                    and (self.is_ratio_valid(XAD, 1.618))):
                return (1, 'Crab') if X < A else (0, 'Crab')

            if ((self.is_ratio_valid(XAB, 0.786)) \
                    and (self.is_ratio_valid(ABC, 0.382) or self.is_ratio_valid(ABC, 0.886)) \
                    and (self.is_ratio_valid(BCD, 1.618) or self.is_ratio_valid(BCD, 2.242)) \
                    and (self.is_ratio_valid(XAD, 1.272) or self.is_ratio_valid(XAD, 1.618))):
                return (1, 'Butterfly') if X < A else (0, 'Butterfly')
        return None, None

In [61]:
harmornic_pattern_array = []
range5_fluctuation5_additional_range2 = HarmornicPattern(3, 3, 12)
for i in range(len(date_array)):
    date = date_array[i]
    open = open_array[i]
    high = high_array[i]
    low = low_array[i]
    close = close_array[i]

    harmornic_pattern = range5_fluctuation5_additional_range2.update_harmonic_pattern(open, high, low, close, date)

    if harmornic_pattern:
        harmornic_pattern_array.extend(harmornic_pattern)

result = pd.DataFrame(harmornic_pattern_array, columns = ['pattern_name', 'date', 'price', 'bullish', 'confirmed_date'])
result

,pattern_name,date,price,bullish,confirmed_date
0,ABCD,"[2015-02-24, 2015-03-13, 2015-03-24, 2015-04-02]","[44.29999923706055, 40.61000061035156, 43.1699...",1,2015-04-08
1,ABCD,"[2015-05-15, 2015-05-26, 2015-05-28, 2015-06-09]","[48.90999984741211, 46.189998626708984, 48.020...",1,2015-06-12
2,ABCD,"[2015-05-28, 2015-06-09, 2015-06-11, 2015-06-15]","[48.02000045776367, 45.459999084472656, 46.919...",1,2015-06-18
3,ABCD,"[2015-07-07, 2015-07-21, 2015-07-28, 2015-08-05]","[43.31999969482422, 47.33000183105469, 44.7900...",0,2015-08-10
4,ABCD,"[2015-08-24, 2015-08-28, 2015-09-01, 2015-09-17]","[39.720001220703125, 44.150001525878906, 41.65...",0,2015-09-22
5,ABCD,"[2015-11-13, 2015-12-04, 2015-12-14, 2015-12-17]","[52.529998779296875, 56.22999954223633, 53.680...",0,2015-12-22
6,ABCD,"[2016-03-21, 2016-04-04, 2016-04-12, 2016-04-19]","[52.93000030517578, 55.65999984741211, 53.7599...",0,2016-04-22
7,ABCD,"[2016-04-29, 2016-05-16, 2016-05-19, 2016-05-31]","[49.349998474121094, 51.959999084472656, 49.81...",0,2016-06-10
8,ABCD,"[2016-05-31, 2016-06-13, 2016-06-23, 2016-06-27]","[53.0, 49.060001373291016, 52.060001373291016,...",1,2016-06-30
9,ABCD,"[2016-10-25, 2016-11-04, 2016-11-08, 2016-11-14]","[61.369998931884766, 58.52000045776367, 60.779...",1,2016-11-17
10,Gartley,"[2016-10-13, 2016-10-25, 2016-11-04, 2016-11-0...","[56.31999969482422, 61.369998931884766, 58.520...",1,2016-11-17
11,ABCD,"[2017-08-11, 2017-08-16, 2017-08-21, 2017-09-18]","[71.27999877929688, 74.0999984741211, 71.69999...",0,2017-09-25
12,ABCD,"[2017-10-27, 2017-11-17, 2017-11-28, 2017-12-04]","[86.19999694824219, 82.23999786376953, 85.0599...",1,2017-12-08
13,ABCD,"[2018-04-02, 2018-04-19, 2018-04-25, 2018-04-27]","[87.51000213623047, 97.06999969482422, 90.2799...",0,2018-05-02
14,ABCD,"[2018-07-30, 2018-08-09, 2018-08-22, 2018-08-31]","[104.76000213623047, 110.16000366210938, 105.7...",0,2018-09-06
15,Butterfly,"[2018-07-25, 2018-07-30, 2018-08-09, 2018-08-2...","[111.1500015258789, 104.76000213623047, 110.16...",0,2018-09-06
16,ABCD,"[2018-08-22, 2018-08-31, 2018-09-07, 2018-09-21]","[105.77999877929688, 112.77999877929688, 107.2...",0,2018-10-04
17,ABCD,"[2018-10-03, 2018-10-11, 2018-10-17, 2018-10-30]","[116.18000030517578, 104.19999694824219, 111.8...",1,2018-11-06
18,ABCD,"[2018-12-26, 2018-12-28, 2019-01-03, 2019-01-09]","[93.95999908447266, 102.41000366210938, 97.199...",0,2019-01-14
19,Bat,"[2019-03-27, 2019-04-25, 2019-05-13, 2019-05-1...","[115.5199966430664, 131.3699951171875, 123.040...",1,2019-06-06
20,ABCD,"[2019-06-25, 2019-07-15, 2019-07-18, 2019-07-26]","[132.72999572753906, 139.5399932861328, 134.66...",0,2019-07-31
21,ABCD,"[2019-08-23, 2019-09-05, 2019-09-10, 2019-09-19]","[132.8000030517578, 140.3800048828125, 134.509...",0,2019-09-24
22,ABCD,"[2020-02-19, 2020-02-28, 2020-03-03, 2020-03-16]","[188.17999267578125, 152.0, 175.0, 135.0]",1,2020-03-19
23,ABCD,"[2020-04-13, 2020-04-17, 2020-04-21, 2020-05-11]","[162.3000030517578, 180.0, 166.11000061035156,...",0,2020-05-14
24,ABCD,"[2020-05-27, 2020-06-10, 2020-06-15, 2020-06-23]","[176.60000610351562, 198.52000427246094, 184.0...",0,2020-06-26
25,ABCD,"[2020-07-09, 2020-07-17, 2020-07-21, 2020-07-24]","[216.3800048828125, 201.38999938964844, 213.94...",1,2020-07-31
26,Gartley,"[2020-06-29, 2020-07-09, 2020-07-17, 2020-07-2...","[193.5500030517578, 216.3800048828125, 201.389...",1,2020-07-31
27,Butterfly,"[2022-07-14, 2022-08-15, 2022-09-06, 2022-09-1...","[245.94000244140625, 294.17999267578125, 251.9...",1,2022-10-05
28,ABCD,"[2022-11-17, 2022-12-01, 2022-12-07, 2022-12-13]","[237.6300048828125, 256.1199951171875, 242.210...",0,2022-12-16
29,Bat,"[2023-03-28, 2023-04-06, 2023-04-11, 2023-04-1...","[272.04998779296875, 292.0799865722656, 281.64...",1,2023-04-28
30,ABCD,"[2023-08-18, 2023-08-24, 2023-08-25, 2023-09-14]","[311.54998779296875, 332.9800109863281, 318.79...",0,2023-09-19

In [62]:
result['pattern_name'].value_counts()

ABCD         25
Gartley       2
Butterfly     2
Bat           2
Name: pattern_name, dtype: int64

In [63]:
def back_test(stock, result, risk_reward_ratio, bull_only):

    result_copy = result.copy()
    result_copy['profit(%)'] = 0
    result_copy['holding_days'] = 0
    result_copy['buy_date'] = pd.NaT
    result_copy['sell_date'] = pd.NaT

    for i in range(len(result)):
        last_date = result.loc[i, 'date'][-1]
        confirmed_date = result.loc[i, 'confirmed_date']
        bullish = result.loc[i, 'bullish']

        if bull_only and not bullish: # if bull_only is True, consider only bullish patterns
            continue

        entry_price = stock.loc[stock['Date'] == confirmed_date, 'Close'].item()

        if bullish:
            stop_loss_price = stock.loc[stock['Date'] == last_date, 'Low'].item()
            risk_amount = abs(entry_price - stop_loss_price)
            profit_amount = risk_amount * risk_reward_ratio
            take_profit_price = entry_price + profit_amount
        else:
            stop_loss_price = stock.loc[stock['Date'] == last_date, 'High'].item()
            risk_amount = abs(entry_price - stop_loss_price)
            profit_amount = risk_amount * risk_reward_ratio
            take_profit_price = entry_price - profit_amount


        entry_idx = stock.index[stock['Date'] == confirmed_date].item()

        profit, sold_date = is_sold(stock, entry_idx+1, len(stock), entry_price, bullish, stop_loss_price, take_profit_price, risk_amount, profit_amount)
        if profit is not None and profit:
            result_copy.loc[i, 'profit(%)'] = profit
            result_copy.loc[i, 'buy_date'] = confirmed_date
            result_copy.loc[i, 'sell_date'] = sold_date
            delta = datetime.strptime(sold_date, '%Y-%m-%d') - datetime.strptime(confirmed_date, '%Y-%m-%d')
            result_copy.loc[i, 'holding_days'] = delta.days

    return result_copy


def is_sold(stock, start, end, entry_price, bullish, stop_loss_price, take_profit_price, risk_amount, profit_amount):
    for idx in range(start, end):
        low = stock.loc[idx, 'Low']
        high = stock.loc[idx, 'High']
        date = stock.loc[idx, 'Date']

        if (bullish and low <= stop_loss_price and high >= take_profit_price) or \
        (not bullish and high >= stop_loss_price and low <= take_profit_price):
            return None, None

        elif (bullish and low <= stop_loss_price) or (not bullish and high >= stop_loss_price):
            return round(-risk_amount / entry_price * 100, 2), date

        elif (bullish and high >= take_profit_price) or (not bullish and low <= take_profit_price):
            return round(profit_amount / entry_price * 100, 2), date

    return False, None

In [64]:
report = back_test(df, result, 3, True)
report

,pattern_name,date,price,bullish,confirmed_date,profit(%),holding_days,buy_date,sell_date
0,ABCD,"[2015-02-24, 2015-03-13, 2015-03-24, 2015-04-02]","[44.29999923706055, 40.61000061035156, 43.1699...",1,2015-04-08,9.42,16,2015-04-08,2015-04-24
1,ABCD,"[2015-05-15, 2015-05-26, 2015-05-28, 2015-06-09]","[48.90999984741211, 46.189998626708984, 48.020...",1,2015-06-12,-1.11,3,2015-06-12,2015-06-15
2,ABCD,"[2015-05-28, 2015-06-09, 2015-06-11, 2015-06-15]","[48.02000045776367, 45.459999084472656, 46.919...",1,2015-06-18,-3.64,11,2015-06-18,2015-06-29
3,ABCD,"[2015-07-07, 2015-07-21, 2015-07-28, 2015-08-05]","[43.31999969482422, 47.33000183105469, 44.7900...",0,2015-08-10,0.00,0,NaT,NaT
4,ABCD,"[2015-08-24, 2015-08-28, 2015-09-01, 2015-09-17]","[39.720001220703125, 44.150001525878906, 41.65...",0,2015-09-22,0.00,0,NaT,NaT
5,ABCD,"[2015-11-13, 2015-12-04, 2015-12-14, 2015-12-17]","[52.529998779296875, 56.22999954223633, 53.680...",0,2015-12-22,0.00,0,NaT,NaT
6,ABCD,"[2016-03-21, 2016-04-04, 2016-04-12, 2016-04-19]","[52.93000030517578, 55.65999984741211, 53.7599...",0,2016-04-22,0.00,0,NaT,NaT
7,ABCD,"[2016-04-29, 2016-05-16, 2016-05-19, 2016-05-31]","[49.349998474121094, 51.959999084472656, 49.81...",0,2016-06-10,0.00,0,NaT,NaT
8,ABCD,"[2016-05-31, 2016-06-13, 2016-06-23, 2016-06-27]","[53.0, 49.060001373291016, 52.060001373291016,...",1,2016-06-30,18.35,116,2016-06-30,2016-10-24
9,ABCD,"[2016-10-25, 2016-11-04, 2016-11-08, 2016-11-14]","[61.369998931884766, 58.52000045776367, 60.779...",1,2016-11-17,16.62,195,2016-11-17,2017-05-31
10,Gartley,"[2016-10-13, 2016-10-25, 2016-11-04, 2016-11-0...","[56.31999969482422, 61.369998931884766, 58.520...",1,2016-11-17,16.62,195,2016-11-17,2017-05-31
11,ABCD,"[2017-08-11, 2017-08-16, 2017-08-21, 2017-09-18]","[71.27999877929688, 74.0999984741211, 71.69999...",0,2017-09-25,0.00,0,NaT,NaT
12,ABCD,"[2017-10-27, 2017-11-17, 2017-11-28, 2017-12-04]","[86.19999694824219, 82.23999786376953, 85.0599...",1,2017-12-08,12.33,52,2017-12-08,2018-01-29
13,ABCD,"[2018-04-02, 2018-04-19, 2018-04-25, 2018-04-27]","[87.51000213623047, 97.06999969482422, 90.2799...",0,2018-05-02,0.00,0,NaT,NaT
14,ABCD,"[2018-07-30, 2018-08-09, 2018-08-22, 2018-08-31]","[104.76000213623047, 110.16000366210938, 105.7...",0,2018-09-06,0.00,0,NaT,NaT
15,Butterfly,"[2018-07-25, 2018-07-30, 2018-08-09, 2018-08-2...","[111.1500015258789, 104.76000213623047, 110.16...",0,2018-09-06,0.00,0,NaT,NaT
16,ABCD,"[2018-08-22, 2018-08-31, 2018-09-07, 2018-09-21]","[105.77999877929688, 112.77999877929688, 107.2...",0,2018-10-04,0.00,0,NaT,NaT
17,ABCD,"[2018-10-03, 2018-10-11, 2018-10-17, 2018-10-30]","[116.18000030517578, 104.19999694824219, 111.8...",1,2018-11-06,-7.06,14,2018-11-06,2018-11-20
18,ABCD,"[2018-12-26, 2018-12-28, 2019-01-03, 2019-01-09]","[93.95999908447266, 102.41000366210938, 97.199...",0,2019-01-14,0.00,0,NaT,NaT
19,Bat,"[2019-03-27, 2019-04-25, 2019-05-13, 2019-05-1...","[115.5199966430664, 131.3699951171875, 123.040...",1,2019-06-06,20.68,190,2019-06-06,2019-12-13
20,ABCD,"[2019-06-25, 2019-07-15, 2019-07-18, 2019-07-26]","[132.72999572753906, 139.5399932861328, 134.66...",0,2019-07-31,0.00,0,NaT,NaT
21,ABCD,"[2019-08-23, 2019-09-05, 2019-09-10, 2019-09-19]","[132.8000030517578, 140.3800048828125, 134.509...",0,2019-09-24,0.00,0,NaT,NaT
22,ABCD,"[2020-02-19, 2020-02-28, 2020-03-03, 2020-03-16]","[188.17999267578125, 152.0, 175.0, 135.0]",1,2020-03-19,-5.40,4,2020-03-19,2020-03-23
23,ABCD,"[2020-04-13, 2020-04-17, 2020-04-21, 2020-05-11]","[162.3000030517578, 180.0, 166.11000061035156,...",0,2020-05-14,0.00,0,NaT,NaT
24,ABCD,"[2020-05-27, 2020-06-10, 2020-06-15, 2020-06-23]","[176.60000610351562, 198.52000427246094, 184.0...",0,2020-06-26,0.00,0,NaT,NaT
25,ABCD,"[2020-07-09, 2020-07-17, 2020-07-21, 2020-07-24]","[216.3800048828125, 201.38999938964844, 213.94...",1,2020-07-31,10.98,27,2020-07-31,2020-08-27
26,Gartley,"[2020-06-29, 2020-07-09, 2020-07-17, 2020-07-2...","[193.5500030517578, 216.3800048828125, 201.389...",1,2020-07-31,10.98,27,2020-07-31,2020-08-27
27,Butterfly,"[2022-07-14, 2022-08-15, 2022-09-06, 2022-09-1...","[245.94000244140625, 294.17999267578125, 251.9...",1,2022-10-05,-6.61,5,2022-10-05,2022-10-10
28,ABCD,"[2022-11-17, 2022-12-01, 2022-12-07, 2022-12-13]","[237.6300048828125, 256.1199951171875, 242.210...",0,2022-12-16,0.00,0,NaT,NaT
29,Bat,"[2023-03-28, 2023-04-06, 2023-04-11, 2023-04-1...","[272.04998779296875, 292.0799865722656, 281.64...",1,2023-04-28,31.14,271,2023-04-28,2024-01-24
30,ABCD,"[2023-08-18, 2023-08-24, 2023-08-25, 2023-09-14]","[311.54998779296875, 332.9800109863281, 318.79...",0,2023-09-19,0.00,0,NaT,NaT

In [65]:
filtered_report=report.copy()
filtered_report.dropna(subset=['sell_date'], inplace=True)

filtered_report['buy_date'] = pd.to_datetime(filtered_report['buy_date'], format='%Y-%m-%d')
filtered_report['sell_date'] = pd.to_datetime(filtered_report['sell_date'], format='%Y-%m-%d')

filtered_report = filtered_report.sort_values(by='buy_date').reset_index(drop=True)

valid_indices = []
last_sell_date = None

for i in range(len(filtered_report)):
    buy_date = filtered_report.loc[i, 'buy_date']
    if last_sell_date is None or last_sell_date <= buy_date:
        valid_indices.append(i)
        last_sell_date = filtered_report.loc[i, 'sell_date']

filtered_report = filtered_report.loc[valid_indices]

filtered_report

,pattern_name,date,price,bullish,confirmed_date,profit(%),holding_days,buy_date,sell_date
0,ABCD,"[2015-02-24, 2015-03-13, 2015-03-24, 2015-04-02]","[44.29999923706055, 40.61000061035156, 43.1699...",1,2015-04-08,9.42,16,2015-04-08,2015-04-24
1,ABCD,"[2015-05-15, 2015-05-26, 2015-05-28, 2015-06-09]","[48.90999984741211, 46.189998626708984, 48.020...",1,2015-06-12,-1.11,3,2015-06-12,2015-06-15
2,ABCD,"[2015-05-28, 2015-06-09, 2015-06-11, 2015-06-15]","[48.02000045776367, 45.459999084472656, 46.919...",1,2015-06-18,-3.64,11,2015-06-18,2015-06-29
3,ABCD,"[2016-05-31, 2016-06-13, 2016-06-23, 2016-06-27]","[53.0, 49.060001373291016, 52.060001373291016,...",1,2016-06-30,18.35,116,2016-06-30,2016-10-24
4,ABCD,"[2016-10-25, 2016-11-04, 2016-11-08, 2016-11-14]","[61.369998931884766, 58.52000045776367, 60.779...",1,2016-11-17,16.62,195,2016-11-17,2017-05-31
6,ABCD,"[2017-10-27, 2017-11-17, 2017-11-28, 2017-12-04]","[86.19999694824219, 82.23999786376953, 85.0599...",1,2017-12-08,12.33,52,2017-12-08,2018-01-29
7,ABCD,"[2018-10-03, 2018-10-11, 2018-10-17, 2018-10-30]","[116.18000030517578, 104.19999694824219, 111.8...",1,2018-11-06,-7.06,14,2018-11-06,2018-11-20
8,Bat,"[2019-03-27, 2019-04-25, 2019-05-13, 2019-05-1...","[115.5199966430664, 131.3699951171875, 123.040...",1,2019-06-06,20.68,190,2019-06-06,2019-12-13
9,ABCD,"[2020-02-19, 2020-02-28, 2020-03-03, 2020-03-16]","[188.17999267578125, 152.0, 175.0, 135.0]",1,2020-03-19,-5.40,4,2020-03-19,2020-03-23
10,ABCD,"[2020-07-09, 2020-07-17, 2020-07-21, 2020-07-24]","[216.3800048828125, 201.38999938964844, 213.94...",1,2020-07-31,10.98,27,2020-07-31,2020-08-27
12,Butterfly,"[2022-07-14, 2022-08-15, 2022-09-06, 2022-09-1...","[245.94000244140625, 294.17999267578125, 251.9...",1,2022-10-05,-6.61,5,2022-10-05,2022-10-10
13,Bat,"[2023-03-28, 2023-04-06, 2023-04-11, 2023-04-1...","[272.04998779296875, 292.0799865722656, 281.64...",1,2023-04-28,31.14,271,2023-04-28,2024-01-24

In [66]:
start_price = df['Close'][0]
end_price = df['Close'][len(df)-1]

buyhold_profit = ((end_price - start_price) / start_price) * 100
print(f'buy&hold return: {round(buyhold_profit,2)}%')

start_day = df['Date'][0]
end_day = df['Date'][len(df)-1]
delta = datetime.strptime(end_day, '%Y-%m-%d') - datetime.strptime(start_day, '%Y-%m-%d')

total_return = 1
for r in filtered_report['profit(%)']:
    total_return *= (1 + r / 100)

total_return_percentage = (total_return - 1) * 100
print(f'strategy return: {round(total_return_percentage, 2)}%')


total_days= filtered_report['holding_days'].sum()
print(f'buy&hold holding period: {delta.days} days')
print(f'strategy holding period: {total_days} days')


buy_hold_daily_return = (((1 + buyhold_profit / 100) ** (1 / delta.days)) - 1) * 100
strategy_daily_return = (((1 + total_return_percentage / 100) ** (1 / total_days)) - 1) * 100

print(f'buy&hold daily return: {round(buy_hold_daily_return, 4)}%')
print(f'strategy daily return: {round(strategy_daily_return, 4)}%')

buy&hold return: 799.38%
strategy return: 133.13%
buy&hold holding period: 3325 days
strategy holding period: 904 days
buy&hold daily return: 0.0661%
strategy daily return: 0.0937%